/* Variables (Colors) */
:root {
    --white: #faf8ff;
    --orange: #FC7207;
    --purple: #611fac;
    --black: #353542;
}

/* General Elements */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    background-color: var(--black);
    background-image: url('../assets/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 20px;
    user-select: none;

}

#container {
    background: radial-gradient(circle, #f3ecff 0%, #ece5ff 100%);
    border-radius: 15px;
    filter: drop-shadow(0px 0px 8px var(--black));
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    min-width: 620px;
    overflow: auto;
    overflow-x: hidden;
}

/* Typography */
h1,
h2,
b,
strong {
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

/* Header */
header {
    padding-bottom: 10px;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--purple);
}

header img {
    height: 50px;
}

/* Stepper */
#step {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#step .text {
    background: linear-gradient(90deg, rgb(88, 14, 172) 0%, rgb(126, 43, 194) 100%);
    filter: drop-shadow(0px 0px 4px rgba(31, 21, 32, 0.233));
    padding: 8px 20px;
    width: 180px;
    color: var(--white);
    border-radius: 10px;
}

#step p {
    font-size: 12px;
}

#step img {
    height: 30px;
}

/* Main */
main {
    border-radius: 10px;
    background-color: var(--white);
    filter: drop-shadow(0px 0px 4px rgba(31, 21, 32, 0.096));
    padding: 20px;
    margin: 0 auto;
}

.instruction {
    padding-bottom: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    display: flex;
}

.instruction ul {
    display: flex;
    flex-direction: column;
    align-items: start
}

.emphasis {
    color: var(--purple);
    font-weight: bold;
    text-align: center;
}

hr {
    margin-left: -20px;
    margin-right: -20px;
    border: 0;
    border-top: 2px solid #eae6f1;
}

/* Tabs */
#tabbed-form {
    width: 100%;
    min-width: 100%;
}

.desktop {
    width: 100%;
}

.tab {
    width: 100%;
    min-width: 100%;
}

table {
    width: 100%;
    min-width: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 5px;
    width: 100%;
}

.tabs button {
    background-color: #928f99;
    border: none;
    color: #eae6f1;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}


.tabs button.active {
    background-color: #611fac;
    color: #fff;
}

.tabs button:hover {
    background-color: #8b58c5;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#note {
    display: none;
    font-size: 14px;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    gap: 10px;
}


/* Form */
form input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: var(--black);
    background-color: #f8f8f8;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input[type="text"]:focus,
form select:focus {
    outline: none;
    border-color: var(--purple);
    box-shadow: 0 0 5px rgba(69, 31, 172, 0.4);
}

form input[type="text"]:hover,
form select:hover {
    border-color: #bba4e6;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    width: 160px;
    font-weight: 600;
    border-radius: 12px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

nav p {
    font-weight: normal;
    font-size: 12px;
}

nav #prev {
    border: 2px solid #eae6f1;
    background-color: var(--white);
    color: var(--black);
}

#prev:hover {
    background-color: #eae6f1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
}

#next {
    background-color: var(--purple);
    color: var(--white);
}

#next:hover {
    background-color: #8b58c5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

/* Page Selection */
.page-selection {
    display: flex;

    justify-content: center;
    align-items: center;
}

.page {
    color: var(--black);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    margin-bottom: 20px;
}

.page.active {
    background-color: #9355da;
    color: #fff;
}

/* Responsive */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* -------------------------------- Mobile -------------------------------- */
@media (max-width: 768px) {

    /* General Elements */
    body {
        padding: 0px;
        background-image: none;
        background-color: #ece5ff;
        overflow: none;
    }

    #container {
        min-width: 100%;
        max-width: 100%;
        border-radius: 0;
        padding: 20px 0px 0px 0px;
        filter: none;
    }

    /* Header */
    header img {
        height: 45px;
    }

    /* Main */
    main {
        padding: 30px 15px;
        border-radius: 0;
        max-width: 100%;
    }

    .instruction ul {
        padding-top: 10px;
        gap: 10px;
    }

    .instruction li {
        font-size: 14px;
        text-align: start;
    }

    /* Typography */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    /* Stepper */
    #step {
        flex-direction: column;
        gap: 20px;
    }

    #step .text {
        padding: 8px 40px;
        text-align: center;
        width: 250px;
    }

    #step img {
        width: 90vw;
    }

    /* Tabs */
    .mobile .tab {
        margin-bottom: -20px
    }

    .tabs {
        margin: 0px;
        gap: 5px;
        width: 100%;
        flex-direction: column;
        display: flex;
        padding-bottom: 10px;
    }

    .tabs button {
        font-size: 12px;
        margin-bottom: 5px;
        padding: 10px 22px;
    }

    .tabs button.active {
        background-color: #611fac;
        color: #fff;
    }

    .tabs button:hover {
        background-color: #8b58c5;
    }

    /* Form */
    form input[type="text"],
    form select {
        font-size: 16px;
    }

    form table {
        width: 100%;
    }

    form td {
        display: block;
        padding-bottom: 14px;
    }

    form label {
        display: block;
        margin-bottom: -15px;
    }

    form input[type="text"],
    form select {
        width: 100%;
    }

    #note {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: start;
        gap: 10px;
    }

    /* Cards */
    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        border: 2px solid #ccc;
        padding: 20px 20px 18px 20px;
        width: calc(100vw - 40px);
        margin-bottom: 20px
    }

    .card .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
    }

    .card h4 {
        font-weight: bold;
        font-size: 16px;
        padding: 0 10px;
        text-align: center;
    }

    .card .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 20px;
        border: 2px #ccc solid;
        padding: 7px 8px;
        border-radius: 5px;
    }

    .card .menu {
        display: none;
        position: absolute;
        background: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.863);
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border: 2px solid #ccc;
        margin-right: 28px;

    }

    .card .menu button {
        padding: 18px 30px;
        font-size: 14px;
        color: #333;
        background-color: #ffffff;
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        font-weight: bold;
    }


    .card table {
        table-layout: fixed;
        font-size: 12px;
    }

    .card td {
        display: table-cell;
        vertical-align: middle;
        padding: 2px;
    }

    .card td:nth-child(4) {
        text-align: start;
        padding-left: 25px
    }

    .card td:nth-child(3) {
        padding-left: 10px;
    }

    .card input[type="checkbox"] {
        transform: scale(1.2);
    }


    /* Nav */
    nav a {
        font-size: 16px;
        padding: 10px 15px;
    }

    /* Responsive */
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}